*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: #ededed;
}




.card  {
  & img.conver_image {
    height: 600px;
    object-fit: cover;
  }


  .thumbs {
    display: flex;
    margin-top: 2px;

    > img {
      width: calc(100% / 5);
    }

  }



}